@page
@using DFApp.Localization;
@using Microsoft.Extensions.Localization;
@model DFApp.Web.Pages.Lottery.Statistics.IndexModel
@inject IStringLocalizer<DFAppResource> L
@section scripts {
    <abp-script-bundle name="LotteryStatistics">
        @* LotteryStatistics *@
<abp-script src="/dist/vendors-node_modules_element-plus_lib_index_js-node_modules_element-plus_dist_index_css-node_-40d5e1.entry.js"></abp-script>
<abp-script src="/dist/vendors-node_modules_chart_js_auto_auto_cjs.entry.js"></abp-script>
<abp-script src="/dist/LotteryStatistics.entry.js"></abp-script>
        @* LotteryStatistics *@
    </abp-script-bundle>
}
<abp-card>
    <abp-card-header>
        <abp-card-title>@L["Lottery:LotteryStatisticsTitle"]</abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <div id="app"></div>
    </abp-card-body>
</abp-card>