@page
@using DFApp.Web.Pages.Media.ExternalLink
@using DFApp.Localization
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<DFAppResource> L
@section scripts {
    <abp-script-bundle name="MediaExternalLink">
        @* MediaExternalLink *@
<abp-script src="/dist/552.entry.js"></abp-script>
<abp-script src="/dist/670.entry.js"></abp-script>
<abp-script src="/dist/97.entry.js"></abp-script>
<abp-script src="/dist/845.entry.js"></abp-script>
<abp-script src="/dist/801.entry.js"></abp-script>
<abp-script src="/dist/402.entry.js"></abp-script>
<abp-script src="/dist/679.entry.js"></abp-script>
<abp-script src="/dist/447.entry.js"></abp-script>
<abp-script src="/dist/474.entry.js"></abp-script>
<abp-script src="/dist/250.entry.js"></abp-script>
<abp-script src="/dist/795.entry.js"></abp-script>
<abp-script src="/dist/666.entry.js"></abp-script>
<abp-script src="/dist/335.entry.js"></abp-script>
<abp-script src="/dist/982.entry.js"></abp-script>
<abp-script src="/dist/486.entry.js"></abp-script>
<abp-script src="/dist/230.entry.js"></abp-script>
<abp-script src="/dist/797.entry.js"></abp-script>
<abp-script src="/dist/MediaExternalLink.entry.js"></abp-script>
        @* MediaExternalLink *@
    </abp-script-bundle>
}

<abp-card>
    <abp-card-header>
        <abp-card-title>@L["Media:ExternalLinkTitle"]</abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <div id="app"></div>
    </abp-card-body>
</abp-card>