@page
@using DFApp.Localization
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@model DFApp.Web.Pages.Lottery.Simulation.K8.K8StatisticsModel

@inject IStringLocalizer<DFAppResource> L

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <abp-script src="/Pages/Lottery/Simulation/KL8/k8statistics.js"/>
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["LotteryK8:Statistics"]</abp-card-title>
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <div class="row">
            <div class="col-md-12">
                <canvas id="k8StatisticsChart"></canvas>
            </div>
        </div>
    </abp-card-body>
</abp-card>