@page
@using DFApp.Localization;
@using Microsoft.Extensions.Localization;
@model DFApp.Web.Pages.Lottery.SpecifyPeriod.IndexModel
@inject IStringLocalizer<DFAppResource> L
@section scripts {
    <abp-script-bundle name="LotterySpecifyPeriod">
        @* LotterySpecifyPeriod *@
<abp-script src="/dist/552.entry.js"></abp-script>
<abp-script src="/dist/670.entry.js"></abp-script>
<abp-script src="/dist/97.entry.js"></abp-script>
<abp-script src="/dist/845.entry.js"></abp-script>
<abp-script src="/dist/801.entry.js"></abp-script>
<abp-script src="/dist/402.entry.js"></abp-script>
<abp-script src="/dist/679.entry.js"></abp-script>
<abp-script src="/dist/447.entry.js"></abp-script>
<abp-script src="/dist/474.entry.js"></abp-script>
<abp-script src="/dist/250.entry.js"></abp-script>
<abp-script src="/dist/795.entry.js"></abp-script>
<abp-script src="/dist/666.entry.js"></abp-script>
<abp-script src="/dist/335.entry.js"></abp-script>
<abp-script src="/dist/982.entry.js"></abp-script>
<abp-script src="/dist/486.entry.js"></abp-script>
<abp-script src="/dist/230.entry.js"></abp-script>
<abp-script src="/dist/797.entry.js"></abp-script>
<abp-script src="/dist/708.entry.js"></abp-script>
<abp-script src="/dist/668.entry.js"></abp-script>
<abp-script src="/dist/LotterySpecifyPeriod.entry.js"></abp-script>
        @* LotterySpecifyPeriod *@
    </abp-script-bundle>
}
<abp-card>
    <abp-card-header>
        <abp-card-title>@L["Lottery:LotterySpecifyPeriodTitle"]</abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <div id="app"></div>
    </abp-card-body>
</abp-card>

