@page
@using DFApp.Localization;
@using Microsoft.Extensions.Localization;
@model DFApp.Web.Pages.Lottery.SpecifyPeriod.IndexModel
@inject IStringLocalizer<DFAppResource> L
@section scripts {
    <abp-script-bundle name="LotterySpecifyPeriod">
        @* LotterySpecifyPeriod *@
<abp-script src="/dist/250.entry.js"></abp-script>
<abp-script src="/dist/963.entry.js"></abp-script>
<abp-script src="/dist/LotterySpecifyPeriod.entry.js"></abp-script>
        @* LotterySpecifyPeriod *@
    </abp-script-bundle>
}
<abp-card>
    <abp-card-header>
        <abp-card-title>@L["Lottery:LotterySpecifyPeriodTitle"]</abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <div id="app"></div>
    </abp-card-body>
</abp-card>

