@page
@using DFApp.Web.Pages.Media.Chart
@using DFApp.Localization
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<DFAppResource> L
@section scripts {
    <abp-script-bundle name="MediaChart">
        @* MediaChart *@
<abp-script src="/dist/534.entry.js"></abp-script>
<abp-script src="/dist/898.entry.js"></abp-script>
<abp-script src="/dist/872.entry.js"></abp-script>
<abp-script src="/dist/968.entry.js"></abp-script>
<abp-script src="/dist/646.entry.js"></abp-script>
<abp-script src="/dist/MediaChart.entry.js"></abp-script>
        @* MediaChart *@
    </abp-script-bundle>
}
<abp-card>
    <abp-card-header>
        <abp-card-title>@L["TG:Media:Chart:Title"]</abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <div id="app"></div>
    </abp-card-body>
</abp-card>