@page
@using DFApp.Localization
@using Microsoft.Extensions.Localization
@model DFApp.Web.Pages.TG.Login.IndexModel
@inject IStringLocalizer<DFAppResource> L
@section scripts {
    <abp-script-bundle name="TGLogin">
        @* TGLogin *@
<abp-script src="/dist/534.entry.js"></abp-script>
<abp-script src="/dist/605.entry.js"></abp-script>
<abp-script src="/dist/872.entry.js"></abp-script>
<abp-script src="/dist/437.entry.js"></abp-script>
<abp-script src="/dist/696.entry.js"></abp-script>
<abp-script src="/dist/540.entry.js"></abp-script>
<abp-script src="/dist/585.entry.js"></abp-script>
<abp-script src="/dist/TGLogin.entry.js"></abp-script>
        @* TGLogin *@
    </abp-script-bundle>
}
<abp-card>
    <abp-card-header>
        <abp-card-title>@L["TG:Media:Chart:Login"]</abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <div id="app"></div>
    </abp-card-body>
</abp-card>