@page
@using DFApp.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model DFApp.Web.Pages.Lottery.CreateModalModel
@inject IStringLocalizer<DFAppResource> L
@section scripts {
    <abp-script-bundle name="LotterySpecifyPeriod">
        @* LotteryBatchCreate *@
<abp-script src="/dist/534.entry.js"></abp-script>
<abp-script src="/dist/605.entry.js"></abp-script>
<abp-script src="/dist/898.entry.js"></abp-script>
<abp-script src="/dist/872.entry.js"></abp-script>
<abp-script src="/dist/296.entry.js"></abp-script>
<abp-script src="/dist/437.entry.js"></abp-script>
<abp-script src="/dist/426.entry.js"></abp-script>
<abp-script src="/dist/901.entry.js"></abp-script>
<abp-script src="/dist/987.entry.js"></abp-script>
<abp-script src="/dist/LotteryBatchCreate.entry.js"></abp-script>
        @* LotteryBatchCreate *@
    </abp-script-bundle>
}

<abp-modal>
    <abp-modal-header title="@L["LotteryBuy:Modal:Create:Title"].Value"></abp-modal-header>
    <abp-modal-body>
        <div id="app"></div>
    </abp-modal-body>
    <abp-modal-footer buttons="@(AbpModalButtons.None)"></abp-modal-footer>
</abp-modal>
