@page
@model DFApp.Web.Pages.LogSink.SignalRSink.IndexModel
@using DFApp.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<DFAppResource> L
@section scripts {
    <abp-script-bundle name="SignalRSink">
        @* SignalRSink *@
<abp-script src="/dist/vendors-node_modules_element-plus_lib_index_js-node_modules_element-plus_dist_index_css-node_-40d5e1.entry.js"></abp-script>
<abp-script src="/dist/vendors-node_modules_microsoft_signalr_dist_esm_index_js.entry.js"></abp-script>
<abp-script src="/dist/SignalRSink.entry.js"></abp-script>
        @* SignalRSink *@
    </abp-script-bundle>
}
<abp-card>
    <abp-card-header>
        <abp-card-title>@L["Lottery:SignalRTitle"]</abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <div id="app"></div>
    </abp-card-body>
</abp-card>