@page
@model DFApp.Web.Pages.LogSink.SignalRSink.IndexModel
@using DFApp.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<DFAppResource> L
@section scripts {
    <abp-script-bundle name="SignalRSink">
        @* SignalRSink *@
<abp-script src="/dist/534.entry.js"></abp-script>
<abp-script src="/dist/605.entry.js"></abp-script>
<abp-script src="/dist/898.entry.js"></abp-script>
<abp-script src="/dist/872.entry.js"></abp-script>
<abp-script src="/dist/296.entry.js"></abp-script>
<abp-script src="/dist/696.entry.js"></abp-script>
<abp-script src="/dist/51.entry.js"></abp-script>
<abp-script src="/dist/584.entry.js"></abp-script>
<abp-script src="/dist/SignalRSink.entry.js"></abp-script>
        @* SignalRSink *@
    </abp-script-bundle>
}
<abp-card>
    <abp-card-header>
        <abp-card-title>@L["LogSink:SignalRSink:Title"]</abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <div id="app"></div>
    </abp-card-body>
</abp-card>