**/.classpath
**/.project
**/.settings
**/.tooltarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.docstates

**/bin
**/obj
**/out
**/.dockerignore
**/Dockerfile
**/Dockerfile.*
**/.git
**/.gitignore
**/.github
**/README.md
**/LICENSE
**/CODE_OF_CONDUCT.md
**/CONTRIBUTING.md
**/docs
**/.vscode
**/node_modules
**/npm-debug.log
**/yarn-error.log
**/yarn.lock
**/package-lock.json

**/*Tests.csproj
**/*Tests*.cs
**/*Test*.cs
**/*Tests*.dll
**/*Test*.dll
**/*Tests*.json
**/*Test*.json