@page
@model DFApp.Web.Pages.LogSink.QueueSink.IndexModel
@using DFApp.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<DFAppResource> L
@section scripts {
    <abp-script-bundle name="QueueSink">
        @* QueueSink *@
<abp-script src="/dist/963.entry.js"></abp-script>
<abp-script src="/dist/QueueSink.entry.js"></abp-script>
        @* QueueSink *@
    </abp-script-bundle>
}
<abp-card>
    <abp-card-header>
        <abp-card-title>@L["LogSink:QueueSink:Title"]</abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <div id="app"></div>
    </abp-card-body>
</abp-card>