@page
@using DF.Telegram.Web.Pages.Media.ExternalLink
@using DF.Telegram.Localization
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<TelegramResource> L
@section scripts{
    @* MediaExternalLink *@
<abp-script src="/dist/MediaExternalLink.entry.js"></abp-script>
    @* MediaExternalLink *@
}

<abp-card>
    <abp-card-header>
        <abp-card-title>@L["Media:ExternalLinkTitle"]</abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <div id="app"></div>
    </abp-card-body>
</abp-card>