@page
@using DF.Telegram.Web.Pages.Media.Chart
@using DF.Telegram.Localization
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<TelegramResource> L
@section scripts{
    @* MediaChart *@
    <abp-script src="/dist/951.entry.js"></abp-script>
    <abp-script src="/dist/818.entry.js"></abp-script>
    <abp-script src="/dist/MediaChart.entry.js"></abp-script>
    @* MediaChart *@
}
<abp-card>
    <abp-card-header>
        <abp-card-title>@L["Media:ChartTitle"]</abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <div id="app"></div>
    </abp-card-body>
</abp-card>