# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  pull_request:
    branches: [ "master" ]

# 添加权限配置
permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      release: true

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Add repository directory to Git safe directory
      run: |
        git config --global --add safe.directory ./publish
      shell: bash

    - name: Install Abp Cli
      run: dotnet tool install -g Volo.Abp.Cli

    - name: Install abp libs
      run: abp install-libs

    - name: Create publish directory
      run: mkdir -p ./publish
      
    - name: Publish project
      run: |
        cd ./src/DFApp.Web/
        dotnet publish --configuration Release \
          --framework net10.0 \
          --runtime linux-x64 \
          --no-self-contained \
          --output ../../publish

    - name: Zip publish files
      run: |
        cd publish
        zip -r ../DFApp-linux-x64.zip .
      shell: bash

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: preview-${{ github.run_number }}
        name: Preview Release ${{ github.run_number }}
        draft: false
        prerelease: true
        files: DFApp-linux-x64.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  