@page
@using DF.Telegram.Localization;
@using Microsoft.Extensions.Localization;
@model DF.Telegram.Web.Pages.Lottery.Statistics.IndexModel
@inject IStringLocalizer<TelegramResource> L
@section scripts{
    @* LotteryStatistics *@
<abp-script src="/dist/LotteryStatistics.entry.js"></abp-script>
    @* LotteryStatistics *@
}
<abp-card>
    <abp-card-header>
        <abp-card-title>@L["Lottery:LotteryStatisticsTitle"]</abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <div id="app"></div>
    </abp-card-body>
</abp-card>